<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Covido</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link rel="icon" href="assets/images/fevicon.jpg" type="image/gif" />
 
</head>



<app-main-header></app-main-header>






  <!-- end banner -->
  
 






     <div class="col-md-9">
      <router-outlet></router-outlet>
  </div>





  
 
<!-- update -->

    
 
<div class="cevery_bg">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
         <!--  <form id="colof" class="form_subscri">
              <input class="newsl" placeholder="Your Email" type="text" name="Email">
              <button class="subsci_btn">Subscribe Now</button>
           </form>-->
        </div>
     </div>
  </div>
</div>

<!-- update -->





<app-main-footer></app-main-footer>