<div class="loader_bg">
    <div class="loader"><img src="assets/images/loading.gif" alt="#"/></div>
 </div>
 <!-- end loader -->
 <!-- top -->
               <!-- header -->
    <header class="header-area">
       <div class="left">
          <a href="Javascript:void(0)"><i  aria-hidden="true"><img src="assets/images/icons8-mask-emoji-64.png" alt="#"/></i></a>
       </div>
       <div class="right">
          <a href="Javascript:void(0)"><i  aria-hidden="true"></i></a>
       </div>
       <div class="container">
          <div class="row d_flex">
             <div class="col-sm-3 logo_sm">
                <div class="logo">
                   <a href="index.html"></a>
                </div>
             </div>
             <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
                <div class="navbar-area">
                   <nav class="site-navbar">
                      <ul>
                         <li><a class="active" href="index.html">Home</a></li>
                         <li><a routerLink="/inscription">inscription</a></li>
                         <li><a routerLink="/login">login</a></li>
                         <li><a href="index.html" class="logo_midle">covido</a></li>
                         <li><a routerLink="/blog">blog</a></li>
                         <li><a href="doctores.html">doctores</a></li>  
                         <li><a href="contact.html">Contact </a></li>
                      </ul>
                      <button class="nav-toggler">
                      <span></span>
                      </button>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </header>
    <div class="full_bg">
        <!-- header inner -->
           <div class="section">
              <!-- carousel code -->
              <div id="banner1" class="carousel slide slider_main">
                 <ol class="carousel-indicators ">
                    <li data-target="#banner1" data-slide-to="0" class="indicator-li-1">01</li>
                    <li data-target="#banner1" data-slide-to="1" class="">02</li>
                    <li data-target="#banner1" data-slide-to="2" class="active">03</li>
                 </ol>
                 <div class="carousel-inner">
                    <!-- first slide -->
                    <div class="carousel-item active">
                       <div class="carousel-caption cuplle">
                          <div class="container">
                                      <div class="loader"><img src="assets/images/loading.gif" alt="#"/></div>
      
                             <div class="row">
                                <div class="col-md-8">
                                   <div class="photog">
                                    <pre><h1 style="color: black">Care early<br> Coronavirus</h1></pre>
                                      
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- second slide -->
                    <div class="carousel-item">
                       <div class="carousel-caption cuplle">
                          <div class="container">    <div class="loader"><img src="assets/images/loading.gif" alt="#"/></div>
      
                             <div class="row">
                                <div class="col-md-8">
                                   <div class="photog">
                                      <h1 style="color: black">Care early<br>Coronavirus</h1>
                                      <a class="read_more" href="javascript:void(0)" >Read More</a>
                                      <a class="read_more" href="about.html" >About Us</a>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- third slide -->
                    <div class="carousel-item">
                       <div class="carousel-caption cuplle">
                          <div class="container">
                                <div class="loader"><img src="assets/images/loading.gif" alt="#"/></div>
      
                             <div class="row">
                                <div class="col-md-8">
                                   <div class="photog">
                                      <h1 style="color: black">Care early<br>Coronavirus</h1>
                                      <a class="read_more" href="javascript:void(0)" >Read More</a>
                                      <a class="read_more" href="about.html" >About Us</a>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- controls -->
                 <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                 <i aria-hidden="true"><img src="assets/images/icons8-back-64.png" alt="#"/></i>
                 <span class="sr-only">Previous</span>
                 </a>
                 <a class="carousel-control-next" href="#banner1" role="button" data-slide="next" >
                 <i aria-hidden="true"><img src="assets/images/icons8-forward-64.png" alt="#"/></i>
                 <span class="sr-only">Next</span>
                 </a>
              </div>
           </div>
        </div>